.sidebar {
    width: 15%;

    @include pad() {
        display: none;
    }
}

.god-topic {
    .god-content-all {
        @include pad() {
            width: 100%;
        }

        .god-content {
            @include iphone() {
                width: 100%;
            }
        }
    }

    .god-content {
        width: 260px;
    }

    .god-topic-pics {
        width: 180px;
        height: 333px;
    }

    .flower {
        width: 36px;
        height: 36px;
    }
}

//焰口法會
.dharma {
    background: #f8e9e5;

    .dharma-topic {
        width: 85%;
        padding: 80px 0px;
        @include pad(){
            width: 100%;
        }

        @media(max-width:768px) {
            padding: 40px 0px;
        }

        h4 {
            margin-bottom: 32px;
        }

        img {
            border-radius: 50%;
            width: 150px;
            height: 150px;

            @media (max-width:768px) {
                width: 100%;
                width: 250px;
                height: 250px;
            }
        }

        .dharma-content {
            margin-right: 64px;

            @media(max-width:768px) {
                margin-right: 0;
            }
        }
    }
}
//高王觀世音
.sutra {
    background: #faf0e6;

    .sutra-topic {
        width: 85%;
        padding: 80px 0px;
        @include pad(){
            width: 100%;
        }

        @media(max-width:768px) {
            padding: 40px 0px;
        }

        h4 {
            margin-bottom: 32px;
        }

        img {
            border-radius: 50%;
            width: 150px;
            height: 150px;

            @media (max-width:768px) {
                width: 100%;
                width: 250px;
                height: 250px;
            }
        }

        .sutra-content {
            margin-left: 64px;

            @media(max-width:768px) {
                margin-left: 0;
            }
        }
    }
}

//阿難
.Ananda {
    background: #f8e9e5;

    .Ananda-topic {
        width: 85%;
        padding: 80px 0px;
        @include pad(){
            width: 100%;
        }

        @media(max-width:768px) {
            padding: 40px 0px;
        }

        h4 {
            margin-bottom: 32px;
        }

        img {
            border-radius: 50%;
            width: 150px;
            height: 150px;

            @media (max-width:768px) {
                width: 100%;
                width: 250px;
                height: 250px;
            }
        }

        .Ananda-content {
            margin-right: 64px;

            @media(max-width:768px) {
                margin-right: 0;
            }
        }
    }
}
