.banner{
    @include picture();
    background: linear-gradient(0deg, rgba(246, 225, 220, 0.5), rgba(246, 225, 220, 0.5)), url(../images/雲朵_確定.jpg);

    h3{
        font-size: 60px;
        line-height: 1.5;
        color:$base;
        padding-top: 60px;
        margin-bottom: 36px;
        @include pad(){
            font-size: 40px;
            padding-top: 40px;
            margin-bottom: 40px;
        }
       }
    .banner-origin-list{
        @include pad(){
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }
    }
    .banner-origin{       
        .banner-origin-story1{   
        width: 267px;
        height: 267px;     
        object-fit: cover;
        border-radius: 50%;
        margin-left:97px ;
        margin-right: 121px;
        @include pad(){
            width: 240px;
            height: 240px; 
            margin: 0px 68px;

        }
       }       
      .banner-origin-story2{   
        width: 267px;
        height: 267px;     
        object-fit: cover;
        border-radius: 50%;
        margin-right:97px ;
        margin-left: 121px;
        @include pad(){
            width: 240px;
            height: 240px;
            margin: 0px 68px; 
        }
        }
    .banner-origin-words1{
        margin-bottom: 66px;
        @include pad(){
            margin-bottom: 60px;
        }
        h2{
            font-size: 40px;
            color:$base;
            line-height: 1.5;
            @include pad(){
                margin-top: 40px;
                font-size: 24px;
            }
        }
        p{  
            color:$base;
            line-height: 1.5;
            width: 85%;
            @include pad(){
                width: 100%;
            }
        }        
        }
    .banner-origin-words2{
        margin-bottom: 162px;
        margin-left: 97px;
        @include pad(){
            margin-bottom: 120px;
            margin-left:0px;
        }
        h2{
            font-size: 40px;
            color:$base;
            line-height: 1.5;
            @include pad(){
                margin-top: 40px;
                font-size: 24px;
            }
            }
        p{  
            color:$base;
            line-height: 1.5;
            width: 85%;
            @include pad(){
                width: 100%;
            }
        }        
        }
     }
}
figure{
    h3{
        font-size: 60px;
        line-height: 1.5;
        color:$base;
        padding-top: 80px;
        margin-bottom: 16px;
        @include pad(){
            font-size: 40px;
            padding-top: 40px;
        }
    }
    p{
        color:$base;
        font-size: 24px;
        margin-bottom: 124px;
        @include pad(){
            font-size: 16px;
            margin-bottom: 44px;
        }
    }
    .gallery-card{
        
        h4{
            font-size: 40px;
            color:$base;
            line-height: 1.5;
            border-bottom: 4px solid $primary;
            @include pad(){
                font-size: 24px;
            }
        }
        .gallery-card-row1{
            margin-bottom: 76px;
            li{
                width: calc((100% - 48px) / 3);
                @include iphone(){
                    width:100%;
                }
            }
            img{
                @include iphone(){
                    margin-bottom: 26px; 
                }
            }
        }
        .gallery-card-row2{
            margin-bottom: 124px;
            @include iphone(){
                margin-bottom: 80px;
            }
            li{
            width: calc((100% - 315px) / 2 );
            @include iphone(){
                width: 100%;
            }
            }
            .gallery-card-pic4{
                @include iphone(){
                    margin-bottom: 26px;
                }
            }
        }
    }
}

.author{
   background:url(/app/assets/images/F6E1DC背景圖.png);
    h3{
        font-size: 60px;
        line-height: 1.5;
        color:$base;
        margin-bottom: 16px;
        margin-left: 97px;
        font-weight: 500;
        @include pad(){
            font-size: 40px;
        }
    }
    h4{
        font-size: 40px;
        color:$base;
        line-height: 1.5;
        border-bottom: 4px solid $primary;
        @include pad(){
            font-size: 24px;
        }
    }
    .author-intro-1{
        line-height: 1.5;
        margin-left: 97px;
    }
    .author-pic{
        margin-right: 122px;
        img{
        border-radius: 50%;
        }
     }
     .author-books{
        writing-mode: vertical-lr;
     }
     .author-icon-list{
        margin-top: 56px;
     }
     .author-icon-wechat,.author-icon-email,.author-icon-line{
        width: 60px;
        height: 60px;
     }
     .author-icon-wechat{
        margin-right: 40px;
     }
     .author-icon-email{
        margin-right: 40px;
     }
     .author-books{
        li{
           font-size: 24px;
           margin-right: 40px;        
         }
         li:last-child{
            margin-right: 0px;  
         }
        }
}