.sidebar {
    width: 15%;

    @include pad() {
        display: none;
    }
}

.monk {
    width: 85%; //要設定不然會擠壓到sidebar

    @include pad() {
        width: 100%; //讓sidebar欄消失後置中
    }

    .monk-pics {
        img {
            width: 180px;
            height: 333px;
        }

        .monk-pics-group {
            li {
                @include pad() {
                    width: 100%; //RWD變成一個圖片一列
                }
            }
           .monk-pics-main{
            @include iphone() {
                width: 100%; 
                text-align: center; //要如何讓它置中???
                //手機版一個圖片一列
            }
           }
            .monk-content {
                @include iphone() {
                    width: 100%; //手機版一個圖片一列
                }
            }
        }

        li {
            line-height: 1.2; //文字方塊行高1.2
            width: 260px; //文字方塊寬度改260px
        }
    }

    .monk-content {
        width: 260px;

        .flower {
            width: 36px;
            height: 36px;
        }
    }

}

.podocarpus {
    //羅漢松
    background: #F6E1DC;

    h4 {
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 32px;
    }

    .podocarpus-item1 {
        margin: 80px 64px 80px 0px;
        flex-shrink: 0; //父層加了這個img不會被flex擠壓

        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;

        }
    }

    .podocarpus-item2 {
        margin: 80px 0px 80px 64px;
        flex-shrink: 0; //父層加了這個img不會被flex擠壓

        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .podocarpus-content {
        margin: 80px 0px;
    }

}