//header
.header {
    background-color: #F6E1DC80;

    .heaader-menu {
        .heaader-menu-logo {
            &:hover {
                transform: scale(1.02, 1.02);
                transition: 0.2s;
            }
        }

        .logo-bodhi {
            width: 54px;
            height: 76px;

            @include pad() {
                width: 48px;
                height: 68px;
            }
        }

        h1 {
            @include pad() {
                display: none;
            }
        }

        .header-menu-group {
            li {
                padding: 32px 0px;

                &:hover {
                    transform: scale(1.05, 1.05);
                    transition: 0.2s;
                }

                a {
                    color: $base;
                }

                .contact-button {
                    color: white;
                    background-color: $base;
                    padding: 6px 24px;
                    border-radius: 100px;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }

        }

        .menu-hamburger {
            display: none;

            @include iphone() {
                display: block;
                position: relative;
            }

            .menu-hamburger-close {
                display: none; //還是搞不清楚position:absolute; 兩個icon怎麼重疊?
            }
        }
    }


}

.mobile-menu {
    background: #F6E1DC80;
    display: none !important;
        a{
            color:$base;
            padding: 4px 0;
            display: block;
            &:hover{
                background-color:#e1c8c2f8 ;
            }
        }
    @include iphone() {
        &.active {
            display: block !important;
        }
    }
}