//header
.header{
    background-color: #F6E1DC80;
}
.heaader-menu{
.logo-bodhi{
    width: 54px;
    height: 76px;
}
h1{
    font-size: 20px;
}
li{
    color:$base;
}
.contact-button{
    color:white;
    background-color: $base;
    padding: 6px 24px;
    border-radius: 100px;
}
.heaader-menu-group{
    padding: 32px 0px;
}
}
