//header
.header{
    background-color: #F6E1DC80;
}
.heaader-menu{
.logo-bodhi{
    width: 54px;
    height: 76px;
   @include pad(){
    width: 48px;
    height: 68px;
   }
}
h1{
    @include pad(){
        display: none;
    }
}
.header-menu-group{
    li{
        padding: 32px 0px;
        a{
         color:$base;
        }
        .contact-button{
            color:white;
            background-color: $base;
            padding: 6px 24px;
            border-radius: 100px;
        }
    }
 
}
.menu-hamburger{
    display: none;
    @include iphone(){
        display: block;
    }
}
}
