*,
*::before,
*::after {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.container{
    max-width: 1140px;
    margin: 0 auto;

    @include pad(){
        max-width:992px;
    }

    @include iphone(){
        max-width:576px;
    }
  }